*{
    padding: 0;
    margin: 0;
}
main{
    margin: 10%;
    display:grid;
    grid-template-areas:
    'a a b'
    'c d d'
    'c e e'
    
      ;
      align-items: center;
      width: auto;
      gap: 5px;

    
    
    }
    main div{
    padding: 2em;
    text-align: center;

}
  
    
  .item-a{
    background-color: rgb(237, 91, 28);
    grid-area: a;
    color: rgb(237, 91, 28);
    height: 130px;
  }
  
  .item-b{
    background-color: rgb(255, 165, 0);
    grid-area: b;
    color: orange;
    height: 130px;
  }
  
  .item-c{
    background-color: rgb(60, 212, 60);
    grid-area: c;
    height: 100px;
    color: rgb(60, 212, 60);
    
  }
  
  .item-d{
    background-color: rgb(72, 230, 230);
    grid-area: d;
    color: rgb(72, 230, 230);

  }
  .item-e{
    background-color: rgb(64, 214, 199);
    grid-area: e;
    color:  rgb(64, 214, 199);
  }